<md-toolbar class="space jumbotron">
  <a md-button ><span class="fa fa-home fa-lg"></span> Home</a>
  <!-- <a md-button ><span class="fa fa-info fa-lg"></span> About</a>
  <a md-button ><span class="fa fa-list fa-lg"></span> Menu</a> -->
  <a md-button ><span class="fa fa-address-card fa-lg"></span> Contact</a>
  
  <md-input-container >
    <input mdInput type="search" placeholder="Search">
  </md-input-container>
  
  <span class="space2"></span>
  <a md-button ><span class="fa fa-plus fa-lg"></span> Add</a>
  <a md-button ><span class="fa fa-bell fa-lg"></span> Notification</a>
  <md-select placeholder="English">
    <md-option>English</md-option>
    <md-option>Hindi</md-option>
  </md-select>
  <a>
    <div class="user-img-div-top">
      <img src="../../assets/images/profile.PNG" class="img-responsive img-circle">
    </div>
  </a>
  
</md-toolbar>

 <!-- <div class="container2 jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Ristorante Con Fusion</h1>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
      will tickle your culinary senses!</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/logo.png" alt="Logo">
  </div>
  <div fxFlex></div>
</div>  -->