<div fxLayout="column" class="container">

 <md-tab-group class="tab-body">
  <md-tab label="SALES" class="nav nav-tabs">
    Content 1
    <!-- <form>
      <md-input-container>
        <input type="text" mdInput placeholder="Username">
      </md-input-container>
      <md-input-container>
        <input type="password" mdInput placeholder="Password">
      </md-input-container>
      <md-checkbox name="remember">
        Rember Me
      </md-checkbox>
    </form> -->
  </md-tab>
  <md-tab label="SALES RETURN" class="nav nav-tabs">Content 2</md-tab>
</md-tab-group> 

<div class="div-2">
    <table class="table-bordered">
        <tr>
            <th>Name Of Product/Service</th>
            <th>HSN Code</th>
            <th>Qty.</th>
            <th>Units</th>
            <th>Rate</th>
            <th>TOTAL</th>
        </tr>
        <tr>
            <td><p></p></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th>Net Total:</th><th></th><th></th><th></th><th></th><th></th>
        </tr>
    </table>
</div>
<div class="div-3">
    <table>
        <tr>
            <th>Output GST:<hr></th>
            <th>Rate:<hr></th>
            <th>Amount:<hr></th>
        </tr>
        <tr>
            <td>CGST</td><td>XX</td><td>XX</td>
        </tr>
        <tr>
            <td>SGST</td><td>XX</td><td>XX</td>
        </tr>
        <tr>
            <td>IGST</td><td>XX</td><td>XX</td>
        </tr>
    </table>
</div>
<div class="div-4">
    <table>
        <tr>
            <td>
                <p>Narration:</p>
                <div class="narration"></div>
            </td>
            <td>
                <div class="td-right-top">
                    <p class="p1">Gross Total:</p><div class="gross-total">Rs. 1,25,468</div>
                </div>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="upload">Attachment:</label>
                        <input type="file" class="form-control" id="upload">
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>

<button class="save-btn">S<span>A</span>VE</button>
</div>
