
 <md-sidenav-container>
    <md-sidenav mode="side" opened="true">
        <img md-line src="../../../assets/images/tree-logo.png" class="img-responsive">
       <md-nav-list>
           <a href="" md-list-item>SALES</a>
           <a href="" md-list-item>PURCHASE</a>
           <a href="" md-list-item>RECEIPT</a>
           <a href="" md-list-item>PAYMENT</a>
           <a href="" md-list-item>CONTRA</a>
           <a href="" md-list-item>JOURNAL ENTRY</a>
           <a href="" md-list-item>DISPLAY</a>
           <a href="" md-list-item>REPORTS</a>
           <a href="" md-list-item>GST</a>
       </md-nav-list>
    </md-sidenav>
</md-sidenav-container>  